<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-center align-items-center">
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">NG Blog Study</a>
            </div>
        </div>
    </header>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <a routerLink="/home" routerLinkActive="active" class="p-2 link-secondary">Home</a>
            <a routerLink="/album" routerLinkActive="active" class="p-2 link-secondary">Albums</a>
            <!-- <a routerLink="/blog" routerLinkActive="active" class="p-2 link-secondary" href="#">blog</a> -->
        </nav>
    </div>
</div>