<h3 class="pb-4 mb-4 fst-italic border-bottom">Album list</h3>

<a routerLink="/create" routerLinkActive="active">crea nuovo album</a>

<div class="row mb-2">
    <div class="col-md-6" *ngFor="let album of albums">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
                <h3 class="mb-0">{{ album.title }}</h3>
                <!-- <div class="mb-1 text-muted">Nov 12</div> -->
                <!-- <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> -->
                <a [routerLink]="['/album', album.id]" class="stretched-link">Show photos</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
               
            </div>
            
        </div>
         <button  (click)="deleteAlbum(album)">cencella</button>
    </div>
</div>