<h1>Pagina album list</h1>
<button (click)="test()" >test</button>

<hr>

<a routerLink="/album" routerLinkActive="active" href="#" >crea nuovo album </a><span>+</span>

<div>

    <ul>
        <li *ngFor="let album of albums">{{album.id}} - {{album.title}} </li>
    </ul>
</div>



